{% extends 'Home/base.html' %}
<title>{% block title %}Stats{% endblock %}</title>
{% block stats_active %}active{% endblock %}
{% block body %}
<div class="container container-fluid">


        <h5>Index rating value:</h5>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 51 %}">Luka Doncic</a></td><td>Real Madrid</td><td>23</td><td>23.39</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>23</td><td>20.30</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 331 %}">Alexey Shwed</a></td><td>Khimki Moscow Region</td><td>23</td><td>19.78</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 329 %}">Tornike Shengelia</a></td><td>Baskonia</td><td>23</td><td>19.13</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>20</td><td>18.20</td>
                </tr>
                 </table>


                <h5>Points per game</h5>
                   <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 331 %}">Alexey Shwed</a></td><td>Khimki Moscow Region</td><td>23</td><td>21.91</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 51 %}">Luka Doncic</a></td><td>Real Madrid</td><td>23</td><td>17.17</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>23</td><td>16.95</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 72 %}">Erick Green</a></td><td>Valencia</td><td>21</td><td>15.86</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 287 %}">Nemanaja Nedovic</a></td><td>Baskonia</td><td>18</td><td>15.72</td>
                </tr>
                </tbody>
            </table>


            <h5>Rebounds per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 14 %}">James Augustine</a></td><td>Unicaja</td><td>22</td><td>6.73</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 339 %}">Vladimir Stimac</a></td><td>Anadolu Efes</td><td>23</td><td>6.48</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 329 %}">Tornike Shengelia </a></td><td>Baskonia</td><td>23</td><td>6.30</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 342 %}">Kaleb Tarzewski</a></td><td>Olimpia Milano</td><td>23</td><td>6.13</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 34 %}">Will Clyburn</a></td><td>CSKA Moscow</td><td>23</td><td>6.09</td>
                </tr>
                </tbody>
            </table>


                 <h5>Assists per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>20</td><td>8.30</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 81 %}">Thomas Heurtel</a></td><td>Barcelona</td><td>23</td><td>6.39</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 14 %}">Kevin Pangos</a></td><td>Zalgiris Kaunas</td><td>23</td><td>6.22</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 293 %}">Jayson Granger</a></td><td>Baskonia</td><td>22</td><td>5.41</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 337 %}">Vassilis Spanoulis</a></td><td>Olympiakos</td><td>13</td><td>5.38</td>
                </tr>
                </tbody>
            </table>


              <h5>Blocks per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 55 %}">Bryant Dunston</a></td><td>Anadolu Efes</td><td>23</td><td>1.70</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 343 %}">Walter Tavares</a></td><td>Real Madrid</td><td>17</td><td>1.65</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 300 %}">Tibor Pleiss</a></td><td>Valencia</td><td>23</td><td>1.30</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 24 %}">Jonah Bolden </a></td><td>Macabi Tel Aviv</td><td>22</td><td>1.05</td>
                </tr>
               <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 359 %}">Alex Tyus</a></td><td>Macabi FOX Tel Aviv</td><td>23</td><td>1.04</td>
                </tr>
                </tbody>
                </table>


              <h5>Steals per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 373 %}">Brad Wanamaker</a></td><td>Fenerbahce</td><td>23</td><td>1.61</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>20</td><td>1.60</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 28 %}">Facundo Campazzo </a></td><td>Real Madrid</td><td>23</td><td>1.48</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 324 %}">Rakim Sanders</a></td><td>Barcelona</td><td>15</td><td>1.47</td>
                </tr>

                  <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>23</td><td>1.39</td>
                </tr>

                </tbody>
            </table>


            <h5>2pt %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 73 %}">Arturas Gudaitis</a></td><td>Olimpia Milano</td><td>21</td><td>72.92%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 369 %}">Johannes Voigtmann</a></td><td>Baskonia</td><td>22</td><td>69.51%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 74 %}">Marko Guduric</a></td><td>Fenerbahce</td><td>22</td><td>68.97%</td>
                </tr>
                 <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 343 %}">Walter Tavares</a></td><td>Real Madrid</td><td>16</td><td>68.83%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 342 %}">Kaleb Tarzevski </a></td><td>Olimpia Milano</td><td>22</td><td>68.75%</td>
                </tr>
                </tbody>
            </table>


              <h5>3pt %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 289 %}">James Nunnaly</a></td><td>Fenerbahce</td><td>17</td><td>56.14%</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 67 %}">Anthony Gill </a></td><td>Khimki Moscov Region</td><td>21</td><td>51.35%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 372 %}">Adam Waczynski</a></td><td> Unicaja</td><td>20</td><td>50.62%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 251 %}">Lukas Lekavicius</a></td><td>Panathinaikos</td><td>23</td><td>50.00%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 25 %}">Jeff Brooks</a></td><td>Unicaja</td><td>19</td><td>49.28%</td>
                </tr>
                </tbody>
            </table>


                <h5>FT %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>23</td><td>96.04%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 334 %}">Kostas Sloukas</a></td><td>Fenerbahce</td><td>22</td><td>93.18%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 108 %}">Nikita Kurbanov</a></td><td>CSKA Moscow</td><td>23</td><td>91.43%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 72 %}">Erick Green</a></td><td> Valencia</td><td>21</td><td>91.35%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 70 %}">Andrew Goudelock</a></td><td>Olimpia Milano</td><td>18</td><td>90.24%</td>
                </tr>
                </tbody>
            </table>
        </div>

</div>
{% endblock %}