{% extends 'Home/base.html' %}
<title>{% block title %}Stats{% endblock %}</title>
{% block stats_active %}active{% endblock %}
{% block body %}
<div class="container container-fluid">


        <h5>Index rating value:</h5>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 51 %}">Luka Doncic</a></td><td>Real Madrid</td><td>22</td><td>24.32</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>22</td><td>20.59</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 331 %}">Alexey Shwed</a></td><td>Khimki Moscow Region</td><td>22</td><td>19.91</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>19</td><td>18.95</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 329 %}">Tornike Shengelia</a></td><td>Baskonia</td><td>22</td><td>18.86</td>
                </tr>

                 </table>
                <h5>Points per game</h5>
                   <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 331 %}">Alexey Shwed</a></td><td>Khimki Moscow Region</td><td>22</td><td>22.00</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 51 %}">Luka Doncic</a></td><td>Real Madrid</td><td>22</td><td>17.86</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>22</td><td>17.05</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 72 %}">Erick Green</a></td><td>Valencia</td><td>20</td><td>16.00</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 287 %}">Nemanaja Nedovic</a></td><td>Baskonia</td><td>17</td><td>15.76</td>
                </tr>
                </tbody>
            </table>


                </tbody>
            </table>
            <h5>Rebounds per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 339 %}">Vladimir Stimac</a></td><td>Anadolu Efes</td><td>22</td><td>6.68</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 14 %}">James Augustine</a></td><td>Unicaja</td><td>21</td><td>6.62</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 329 %}">Tornike Shengelia </a></td><td>Baskonia</td><td>22</td><td>6.14</td>
                </tr>

                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 34 %}">Will Clyburn</a></td><td>CSKA Moscow</td><td>22</td><td>6.14</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 343 %}">Walter Tavares</a></td><td>Real Madrid</td><td>16</td><td>6.06</td>
                </tr>




                </tbody>
            </table>
                 <h5>Assists per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>19</td><td>8.47</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 81 %}">Thomas Heurtel</a></td><td>Barcelona</td><td>22</td><td>6.41</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 14 %}">Kevin Pangos</a></td><td>Zalgiris Kaunas</td><td>22</td><td>6.23</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 293 %}">Jayson Granger</a></td><td>Baskonia</td><td>21</td><td>5.43</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 315 %}">Taylor Rochestie</a></td><td>Crvena Zvezda mts</td><td>22</td><td>5.41</td>
                </tr>


                </tbody>
            </table>
              <h5>Blocks per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 55 %}">Bryant Dunston</a></td><td>Anadolu Efes</td><td>22</td><td>1.64</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 343 %}">Walter Tavares</a></td><td>Real Madrid</td><td>16</td><td>1.63</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 300 %}">Tibor Pleiss</a></td><td>Valencia</td><td>22</td><td>1.36</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 24 %}">Jonah Bolden </a></td><td>Macabi Tel Aviv</td><td>21</td><td>1.10</td>
                </tr>
               <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 359 %}">Alex Tyus</a></td><td>Macabi FOX Tel Aviv</td><td>22</td><td>1.09</td>
                </tr>




                </tbody>
            </table>
              <h5>Steals per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                 <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>19</td><td>1.68</td>
                </tr>
                   <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 373 %}">Brad Wanamaker</a></td><td>Fenerbahce</td><td>22</td><td>1.59</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 324 %}">Rakim Sanders</a></td><td>Barcelona</td><td>15</td><td>1.47</td>
                </tr>
                  <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 28 %}">Facundo Campazzo </a></td><td>Real Madrid</td><td>22</td><td>1.41</td>
                </tr>
                  <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>22</td><td>1.36</td>
                </tr>

                </tbody>
            </table>
            <h5>2pt %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 73 %}">Arturas Gudaitis</a></td><td>Olimpia Milano</td><td>21</td><td>73.68%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 369 %}">Johannes Voigtmann</a></td><td>Baskonia</td><td>22</td><td>70.51%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 342 %}">Kaleb Tarzevski </a></td><td>Olimpia Milano</td><td>22</td><td>68.83%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 74 %}">Marko Guduric</a></td><td>Fenerbahce</td><td>22</td><td>68.42%</td>
                </tr>
                 <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 343 %}">Walter Tavares</a></td><td>Real Madrid</td><td>16</td><td>68.00%</td>
                </tr>

                </tbody>
            </table>
              <h5>3pt %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 289 %}">James Nunnaly</a></td><td>Fenerbahce</td><td>16</td><td>54.55%</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 67 %}">Anthony Gill </a></td><td>Khimki Moscov Region</td><td>20</td><td>51.52%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 372 %}">Adam Waczynski</a></td><td> Unicaja</td><td>19</td><td>51.25%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 86 %}">Tyler Honeycuut</a></td><td>Khimki Moscov Region</td><td>13</td><td>50.00%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>22</td><td>49.28%</td>
                </tr>






                </tbody>
            </table>
                <h5>FT %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>22</td><td>96.47%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 334 %}">Kostas Sloukas</a></td><td>Fenerbahce</td><td>21</td><td>92.86%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 72 %}">Erick Green</a></td><td> Valencia</td><td>20</td><td>92.31%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 108 %}">Nikita Kurbanov</a></td><td>CSKA Moscow</td><td>22</td><td>91.11%</td>
                </tr>

                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 70 %}">Andrew Goudelock</a></td><td>Olimpia Milano</td><td>17</td><td>91.18%</td>
                </tr>



                </tbody>
            </table>
        </div>

</div>
{% endblock %}