{% extends 'Home/base.html' %}
<title>{% block title %}Stats{% endblock %}</title>
{% block stats_active %}active{% endblock %}
{% block body %}
<div class="container container-fluid">


        <h5>Index rating value:</h5>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 51 %}">Luka Doncic</a></td><td>Real Madrid</td><td>24</td><td>23.13</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>25</td><td>20.60</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 331 %}">Alexey Shwed</a></td><td>Khimki Moscow Region</td><td>25</td><td>19.72</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 329 %}">Tornike Shengelia</a></td><td>Baskonia</td><td>25</td><td>19.08</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>22</td><td>17.86</td>
                </tr>
                 </table>


                <h5>Points per game</h5>
                   <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 331 %}">Alexey Shwed</a></td><td>Khimki Moscow Region</td><td>25</td><td>22.04</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 51 %}">Luka Doncic</a></td><td>Real Madrid</td><td>24</td><td>17.04</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>25</td><td>17.00</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 287 %}">Nemanaja Nedovic</a></td><td>Baskonia</td><td>19</td><td>15.68</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 72 %}">Erick Green</a></td><td>Valencia</td><td>23</td><td>14.78</td>
                </tr>
                </tbody>
            </table>


            <h5>Rebounds per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 14 %}">James Augustine</a></td><td>Unicaja</td><td>24</td><td>6.83</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 329 %}">Tornike Shengelia </a></td><td>Baskonia</td><td>25</td><td>6.60</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 339 %}">Vladimir Stimac</a></td><td>Anadolu Efes</td><td>25</td><td>6.40</td>
                </tr>
                 <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 34 %}">Will Clyburn</a></td><td>CSKA Moscow</td><td>25</td><td>6.00</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 73 %}">Arturas Gudaitis</a></td><td>Olimpia Milano</td><td>24</td><td>6.00</td>
                </tr>

                </tbody>
            </table>


                 <h5>Assists per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>22</td><td>8.14</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 81 %}">Thomas Heurtel</a></td><td>Barcelona</td><td>25</td><td>6.44</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 293 %}">Kevin Pangos</a></td><td>Zalgiris Kaunas</td><td>25</td><td>6.08</td>
                </tr>
                 <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 337 %}">Vassilis Spanoulis</a></td><td>Olympiakos</td><td>15</td><td>5.33</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 71 %}">Jayson Granger</a></td><td>Baskonia</td><td>24</td><td>5.25</td>
                </tr>
                </tbody>
            </table>


              <h5>Blocks per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 55 %}">Bryant Dunston</a></td><td>Anadolu Efes</td><td>25</td><td>1.75</td>
                </tr>
                 <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 343 %}">Walter Tavares</a></td><td>Real Madrid</td><td>19</td><td>1.63</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 300 %}">Tibor Pleiss</a></td><td>Valencia</td><td>24</td><td>1.25</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 24 %}">Jonah Bolden </a></td><td>Macabi Tel Aviv</td><td>24</td><td>1.04</td>
                </tr>
               <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 297 %}">Artsiom Parakhouski</a></td><td>Macabi FOX Tel Aviv</td><td>25</td><td>1.00</td>
                </tr>
                </tbody>
                </table>


              <h5>Steals per game</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                 <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 27 %}">Nick Calathes</a></td><td>Panathinaikos</td><td>22</td><td>1.55</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 373 %}">Brad Wanamaker</a></td><td>Fenerbahce</td><td>25</td><td>1.52</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 28 %}">Facundo Campazzo </a></td><td>Real Madrid</td><td>25</td><td>1.48</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 324 %}">Rakim Sanders</a></td><td>Barcelona</td><td>15</td><td>1.47</td>
                </tr>
                  <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>25</td><td>1.44</td>
                </tr>
                </tbody>
            </table>


            <h5>2pt %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 56 %}">Ahmet Duverioglu</a></td><td>Fenerbahce</td><td>17</td><td>74.19%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 73 %}">Arturas Gudaitis</a></td><td>Olimpia Milano</td><td>24</td><td>71.70%</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 369 %}">Johannes Voigtmann</a></td><td>Baskonia</td><td>25</td><td>68.09%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 342 %}">Kaleb Tarzevski </a></td><td>Olimpia Milano</td><td>25</td><td>67.86%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 74 %}">Marko Guduric</a></td><td>Fenerbahce</td><td>25</td><td>67.74%</td>
                </tr>
                </tbody>
            </table>


              <h5>3pt %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                 <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 369 %}">Johannes Voigtmann</a></td><td>Baskonia</td><td>25</td><td>60.00%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 289 %}">James Nunnaly</a></td><td>Fenerbahce</td><td>19</td><td>59.02%</td>
                </tr>
                 <tr>
                    <td>3.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>25</td><td>50.60%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 251 %}">Lukas Lekavicius</a></td><td>Panathinaikos</td><td>25</td><td>50.00%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 40 %}">Dejan Davidovac</a></td><td>Crvena Zvezda mts</td><td>19</td><td>50.00%</td>
                </tr>
                </tbody>
            </table>


                <h5>FT %</h5>
                       <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Average</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 313 %}">Brian Roberts</a></td><td>Olympiakos</td><td>23</td><td>97.14%</td>
                </tr>
                <tr>
                    <td>2.</td><td><a href="{% url 'players:detail' 87 %}">Marcelinho Huertas </a></td><td>Baskonia</td><td>24</td><td>96.97%</td>
                </tr>
                <tr>
                    <td>1.</td><td><a href="{% url 'players:detail' 42 %}">Nando De Colo</a></td><td>CSKA Moscow</td><td>25</td><td>96.04%</td>
                </tr>
                <tr>
                    <td>4.</td><td><a href="{% url 'players:detail' 60 %}">Rudy Fernandez</a></td><td> Real Madrid</td><td>20</td><td>93.94%</td>
                </tr>
                <tr>
                    <td>5.</td><td><a href="{% url 'players:detail' 70 %}">Andrew Goudelock</a></td><td>Olimpia Milano</td><td>20</td><td>92.00%</td>
                </tr>
                </tbody>
            </table>
        </div>

</div>
{% endblock %}