{% extends 'Home/base.html' %}
<title>{% block title %}Standings{% endblock %}</title>
{% block standings_active %}active{% endblock %}
{% block body %}
<div class="container container-fluid">
    {% for table in object_list %}

        <h1>{{table.name}}</h1>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>GP</th>
                    <th>W</th>
                    <th>L</th>
                    <th>PS</th>
                    <th>PA</th>
                    <th>+/-</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td><td><a href="{% url 'roster:detail' 6 %}">CSKA Moscow</a></td><td>25</td><td>20</td><td>5</td><td>2250</td><td>1978</td><td>+272</td><td>40</td>
                </tr>
                 <tr>
                     <td>2.</td><td><a href="{% url 'roster:detail' 11 %}">Olympiakos</a></td><td>25</td><td>18</td><td>7</td><td>1881</td><td>1835</td><td>+46</td><td>36</td>
                </tr>
                <tr>
                    <td>3.</td><td><a href="{% url 'roster:detail' 8 %}">Fenerbahce </a></td><td>25</td><td>18</td><td>7</td><td>1979</td><td>1844</td><td>+135</td><td>36</td>
                </tr>
                   <tr>
                     <td>4.</td><td><a href="{% url 'roster:detail' 13 %}">Real Madrid</a></td><td>25</td><td>15</td><td>10</td><td>2124</td><td>1956</td><td>+168</td><td>30</td>
                </tr>
                <tr>
                  <td>5.</td><td><a href="{% url 'roster:detail' 16 %}">Zalgiris Kaunas</a></td><td>25</td><td>15</td><td>10</td><td>2030</td><td>1999</td><td>+31</td><td>30</td>
                </tr>
                <tr>
                    <td>6.</td><td><a href="{% url 'roster:detail' 12 %}">Panathinaikos</a></td><td>25</td><td>14</td><td>11</td><td>1915</td><td>1923</td><td>-8</td><td>28</td>
                </tr>
                <tr>
                    <td>7.</td><td><a href="{% url 'roster:detail' 9 %}">Khimki M.</a></td><td>25</td><td>14</td><td>11</td><td>1940</td><td>1939</td><td>+1</td><td>28</td>
                </tr>
                <tr>
                    <td>8.</td><td><a href="{% url 'roster:detail' 10 %}">Macabi Tel Aviv</a></td><td>25</td><td>13</td><td>12</td><td>2045</td><td>2103</td><td>-58</td><td>26</td>
                </tr>
                <tr>
                    <td>9.</td><td><a href="{% url 'roster:detail' 3 %}">Baskonia Vitoria Gasteiz</a></td><td>25</td><td>12</td><td>13</td><td>2052</td><td>2004</td><td>+48</td><td>24</td>
                </tr>
                <tr>
                    <td>10.</td><td><a href="{% url 'roster:detail' 15 %}">Unicaja Malaga</a></td><td>25</td><td>10</td><td>15</td><td>1928</td><td>2004</td><td>-76</td><td>20</td>
                </tr>
                 <tr>
                     <td>11.</td><td><a href="{% url 'roster:detail' 5 %}">Crvena Zvezda mts</a></td><td>25</td><td>10</td><td>15</td><td>1933</td><td>2080</td><td>-147</td><td>20</td>
                </tr>
                  <tr>
                  <td>12.</td><td><a href="{% url 'roster:detail' 15 %}">Valencia</a></td><td>25</td><td>9</td><td>16</td><td>1914</td><td>1978</td><td>-64</td><td>18</td>
                </tr>
                 <tr>
                    <td>13.</td><td><a href="{% url 'roster:detail' 2 %}">AX Armani Exchange Olimpia Milano</a></td><td>25</td><td>9</td><td>16</td><td>2006</td><td>2107</td><td>-101</td><td>18</td>
                </tr>
                 <tr>
                     <td>14.</td><td><a href="{% url 'roster:detail' 4 %}">Brose Bamberg</a></td><td>25</td><td>9</td><td>16</td><td>1885</td><td>1987</td><td>-102</td><td>18</td>
                </tr>
                <tr>
                    <td>15.</td><td><a href="{% url 'roster:detail' 7 %}">Barcelona Lassa</a></td><td>25</td><td>8</td><td>17</td><td>2009</td><td>1995</td><td>+14</td><td>16</td>
                </tr>
                <tr>
                    <td>16.</td><td><a href="{% url 'roster:detail' 1 %}">Anadolu Efes Istanbul</a></td><td>25</td><td>6</td><td>19</td><td>1923</td><td>2082</td><td>-159</td><td>12</td>
                </tr>



                </tbody>
            </table>
        </div>

              <h6>Pos=position</h6>
              <h6>GP=games played</h6>
              <h6>W=games won</h6>
              <h6>L=games lost</h6>
              <h6>PS=points scored</h6>
              <h6>PA=points allowed</h6>
              <h6>+/-=points diferential</h6>
 {% endfor %}
</div>


{% endblock %}